<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"50px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:50px"><!-- wp:group {"tagName":"section","metadata":{"name":"Blog Section"},"align":"full","style":{"spacing":{"padding":{"right":"10%","left":"10%","top":"50px","bottom":"50px"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<section class="wp-block-group alignfull" style="padding-top:50px;padding-right:10%;padding-bottom:50px;padding-left:10%"><!-- wp:group {"metadata":{"name":"Content Details"},"align":"full","style":{"spacing":{"blockGap":"30px","padding":{"right":"10%","left":"10%"}}},"layout":{"type":"constrained","contentSize":"550px","justifyContent":"left"}} -->
<div class="wp-block-group alignfull" style="padding-right:10%;padding-left:10%"><!-- wp:group {"metadata":{"name":"Content Heading"},"style":{"spacing":{"padding":{"top":"6px","bottom":"6px","left":"14px","right":"14px"}},"border":{"radius":"10px"}},"backgroundColor":"transparent-100","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-transparent-100-background-color has-background" style="border-radius:10px;padding-top:6px;padding-right:14px;padding-bottom:6px;padding-left:14px"><!-- wp:list -->
<ul class="wp-block-list"><!-- wp:list-item {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<li style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">Blog</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:group -->

<!-- wp:heading {"align":"wide","className":"p-max-30 appear-effect","style":{"typography":{"fontStyle":"normal","fontWeight":"600","fontSize":"54px"}}} -->
<h2 class="wp-block-heading alignwide p-max-30 appear-effect" style="font-size:54px;font-style:normal;font-weight:600">Insights &amp; Trends<mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-transparent-500-color"> </mark><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-text-secondary-color">Inspiring Ideas</mark></h2>
<!-- /wp:heading -->

<!-- wp:tag-cloud {"numberOfTags":18,"showTagCounts":true} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Posts Wrapper"},"align":"full","style":{"spacing":{"padding":{"right":"10%","left":"10%"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group alignfull" style="padding-right:10%;padding-left:10%"><!-- wp:query {"queryId":15,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"align":"full"} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<!-- wp:group {"metadata":{"name":"Post Content Wrapper"},"className":"theme-card","style":{"dimensions":{"minHeight":""},"border":{"radius":"20px"},"spacing":{"padding":{"top":"20px","right":"20px","bottom":"40px","left":"20px"}}},"backgroundColor":"transparent-primary","layout":{"type":"flex","orientation":"vertical","verticalAlignment":"space-between","justifyContent":"left"}} -->
<div class="wp-block-group theme-card has-transparent-primary-background-color has-background" style="border-radius:20px;padding-top:20px;padding-right:20px;padding-bottom:40px;padding-left:20px"><!-- wp:group {"metadata":{"name":"Post Image Wrapper"},"style":{"border":{"radius":"20px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between","verticalAlignment":"stretch"}} -->
<div class="wp-block-group" style="border-radius:20px"><!-- wp:post-featured-image {"isLink":true,"style":{"border":{"radius":"16px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"18px"}}} /-->

<!-- wp:spacer {"height":"1px","metadata":{"name":"Line Background Linear"},"className":"line-bg-linear","style":{"layout":{"selfStretch":"fixed","flexSize":"1px"}}} -->
<div style="height:1px" aria-hidden="true" class="wp-block-spacer line-bg-linear"></div>
<!-- /wp:spacer -->

<!-- wp:post-excerpt {"excerptLength":15,"style":{"typography":{"fontSize":"16px"},"elements":{"link":{"color":{"text":"var:preset|color|transparent-500"}}}},"textColor":"transparent-500"} /-->

<!-- wp:group {"metadata":{"name":"Read More Wrapper"},"style":{"spacing":{"padding":{"top":"10px","bottom":"10px","left":"18px","right":"18px"}},"border":{"radius":"10px"}},"backgroundColor":"transparent-primary","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group has-transparent-primary-background-color has-background" style="border-radius:10px;padding-top:10px;padding-right:18px;padding-bottom:10px;padding-left:18px"><!-- wp:read-more {"content":"Read More","style":{"border":{"radius":"0px"}},"backgroundColor":"transparent"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"align":"center","placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p class="has-text-align-center"></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"cta-section","align":"full"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->