<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0px"><!-- wp:group {"metadata":{"name":"Page Content"},"align":"full","className":"hero-section","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"100px","left":"10%","right":"10%","bottom":"50px"},"blockGap":"25px"},"dimensions":{"minHeight":"0vh"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull hero-section" style="min-height:0vh;margin-top:0;margin-bottom:0;padding-top:100px;padding-right:10%;padding-bottom:50px;padding-left:10%"><!-- wp:post-title {"className":"p-max-8 appear-effect","style":{"typography":{"fontSize":"86px","fontStyle":"normal","fontWeight":"400","lineHeight":"1"}}} /-->

<!-- wp:post-content {"align":"full"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->