<!DOCTYPE html>

<html lang="fr">
<head>
  {% include seo-basic.html %}
  <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="../assets/css/v39-complet-coherence-roles.css" rel="stylesheet"/><link href="../assets/css/v40-footer-fluide.css" rel="stylesheet"/>
<link href="../assets/css/v41-footer-burger.css" rel="stylesheet"/>
<link href="../assets/css/v46-footer-navigation-burger.css" rel="stylesheet"/>
<link href="../assets/css/v48-global-button-cleanup-admin.css" rel="stylesheet"/>
<link href="../assets/css/v49-member-auth-inscription-contrast.css" rel="stylesheet"/>
<link href="../assets/css/v50-member-final-boutons.css" rel="stylesheet"/>
<link href="../assets/css/v51-inscription-champs-optionnels.css" rel="stylesheet"/>
</head>
<body class="v30-circle-global ev39-page">
<main id="contenu">
    {{ content }}
  </main>
<script defer="True" src="../assets/js/v39-complet-coherence-roles.js"></script><script defer src="../assets/js/v41-footer-burger.js"></script></body>
</html>
